<% unless current_user.nil? %>
	<h3>Welcome to DarthSubs!</h3>
	<% if current_user.has_role? :cook %>
	You have work to do. Please proceed to the Orders list.
	<% elsif current_user.has_role? :admin %>
	Welcome, boss. Hope you enjoy your visit here!
	<% else %>
	<div class="row">
	  <div class="span9">
	Here is your list of recent orders:
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Sandwich</th>
	      <th>Status</th>
	      <th>Ordered</th>
	      <th>(Elapsed)</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @orders.each do |order| %>
	      <tr>
	        <td><%= Product.find(order.product_id).name %></td>
	        <td><%= order.status_is %></td>
	        <td><%= plain_date(order.created_at) %></td>
	        <td><div id="elapsed_result_<%= order.id %>"><%= order.elapsed %></div></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</div></div>
	<% end %>
<% else %>
	<div class="hero-unit">
		<h2>Welcome to DarthSubs</h2>
		<p>Why not sign up for some great subs? Try the Darth for the best in dark bread and meats, or the VaderVeggie and 		
		VaderVeggiePlus for even more of a good thing!</p>
		<p>
		<%= link_to 'Sign In', new_user_session_path, :class => "btn btn-info btn-large" %>  
	    <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-warning btn-large" %>
		</p>
	</div>
<% end %>
