<%= simple_form_for @order, :html => { :class => 'form-horizontal' } do |f| %>

<div class="row">
  <div class="span6">
	  <br />
	  <strong>Sandwich Type:</strong> <%= f.collection_select :product_id, Product.all, :id, :description_is %><br />
	  <br /><br />
	  <% if current_user.has_role? :cook %>
		<strong>Is This Sandwich Complete? </strong> 
	  	<%= f.check_box :status, :as => :boolean %>
		<br />
	  <% end %>
  </div>

  <div class="span6">
	  <strong>Extra Ingredients:</strong><br />
	  <% for ingredient in Ingredient.all %>
	  <p>
	    <%= check_box_tag 'order[ingredient_ids][]', ingredient.id, @order.ingredients.include?(ingredient) %>
	    <%=h ingredient.name %>
	  </p>
	  <% end %>
	  <%= hidden_field_tag 'order[ingredient_ids][]', '' %>
  </div>
</div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
