<%- model_class = Order.new.class -%>
	<h1><%= @index_title %></h1>
<% if current_user.has_role? :admin %>
<div class="row"><div class="span9">
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= 'Customer' %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th>Ordered</th>
      <th>Elapsed</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= User.find(order.user_id).name %></td>
        <td><%= Product.find(order.product_id).name %><br />
			<%= Product.find(order.product_id).short_description_is %></td>
        <td><%= order.status_is %></td>
        <td><%= plain_date(order.created_at) %></td>
        <td><%= order.elapsed %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      order_path(order), :class => 'btn btn-mini' %>

		  <% if order.status == 0 %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-mini' %>
		  <% end %>

		  <% if not(current_user.has_role? :cook) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
		  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.has_role? :admin %>
  </div>
  <div class="span3">
	<div class="well">
		<% if session[:show_status] == 1 %>
		Admin - refresh view to display Completed Orders.
		<% else %>
		Admin - refresh view to display Incomplete Orders.
		<% end %>
	</div>
  </div></div>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
